---
layout: default
---
<div class="home">
    <h1 class="page-heading">
        <a href="{{ site.url }}">
            <img src="/assets/images/retroachievements-logo-large.png" alt="RetroAchievements">
        </a>
    </h1>
    <p class="lead">
        Adding achievements to your favorite retro games.
    </p>
    <div class="buttons">
        <a class="btn btn-xl" href="http://retroachievements.org/">
            <span class="icon icon-retroachievements icon-xl"></span>
            Official Website <span class="icon icon-link-ext"></span>
        </a>
        <a class="btn btn-xl" href="https://retroachievements.github.io/docs/">
            <span class="icon icon-book icon-xl"></span>
            Documentation
        </a>
        <a class="btn btn-xl" href="{{ site.discord_invite }}">
            <span class="icon icon-discord icon-xl"></span>
            Discord Server <span class="icon icon-link-ext"></span>
        </a>
    </div>
    {{ content }}
</div>
